{% load static %}

<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}"><img src="{% static '/assets/icons/1x/Home - ativo.png' %}" alt = "home button"> Home</a>
        <a href="#"><img src="{% static '/assets/icons/1x/Mais vistas - ativo.png' %}" alt = "most seen button"> Most Seen</a>
        <a href="#"><img src="{% static '/assets/icons/1x/Novas - ativo.png' %}" alt = "news button"> News</a>
        <a href="#"><img src="{% static '/assets/icons/1x/Surpreenda-me - ativo.png' %}" alt = "surprise-me button"> Surprise-me</a>
    </nav>
</section>